@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body * {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
}
label{
    font-family: 'Noto Sans', sans-serif;
}
.discourse-tags{
  border-radius: 5%;
}
.title{
  width: 150px;
  height: auto;
}
.discourse-tag.simple{
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1em;
}
.d-header-icons.icon{
font-size: 15pt;
}
.title--minimized {
  width: 5px;
}

#btn.btn-icon-text.btn-default:hover {
  cursor: pointer;
  background-color: #282A36;
  color: #F8F8F2;
}
.quote > .title {
  margin-bottom: 5px;
  padding-bottom: 10px;
  min-width: fit-content;
  height: 2.5em;
}
.d-icon-chevron-down{
  margin-left: 5px;
}
.svg-icon-title > .d-icon-chevron-up {
    margin-left: 5px;
}
.btn.btn-icon-text.btn-default:hover{
  background-color: color(--d-hover);
}
.select-kit-header.single-select-header:hover{
  background-color: color(--d-hover);
}
.sidebar-sections {
  min-width: fit-content;
}
#main-outlet-wrapper {
  resize:  horizontal;
}
.fa.d-icon.d-icon-circle {
  height: 0.6em;
  transform: translateY(1px) translateX(-3px);
}
.btn.btn-icon-text:not(.btn-flat.btn-text.add-link):hover {
  color: var(--d-selected);
  background-color: #e45735;
}
.btn.btn-icon-text{
  border-radius: 5px;
}
.sidebar-section-link-wrapper:hover{
  background-color: var(--d-selected);
}
#d-sidebar{
  min-width: fit-content;
}
.topic-excerpt-more:hover{
  color: var(--quaternary);
}
.contents .fa.d-icon.svg-icon{
  height: 0.7em;
}
.contents .fa.d-icon.svg-icon:hover,
.fa.d-icon:not(.sidebar-sections):hover {
 color: var(--d-selected);
}
#main-outlet{
  padding-left: 0;
}
.chat-replying-indicator__text{
  font-size: 0.8em;
}
.chat-replying-indicator__wave{
  transform: translateY(0.3px) translateX(0.5px);
}
.title.raw-link.raw-topic-link:hover,
.badge-category__name:hover{
  color: var(--primary-high);
}

:root{
  --d-sidebar-width: 350px;
}
.btn.btn-icon-text.fk-d-menu__trigger:hover{
  cursor: pointer;
}
